.slide-container {
    position: relative;
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1530px;
}

.slide-container:hover .slide-drawing {
    transform: scale(1.2);
}

.slide-images {
    display: flex;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 0;
}

.slide-drawing {
    position: absolute;
    z-index: 20;
    top: -5rem;
    left: 5rem;
}

.slide-photo {
    position: absolute;
    z-index: 10;
    left: 25vw;
}

.slide-text {
    position: relative;
    z-index: 50;
    text-align: right;
}

@media screen and (min-width: 768px) {
    .slide-text {
        width: 50%;
    }
}

.slide-heading {
    margin-bottom: 1rem;
    margin-left: auto;
    line-height: .8;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.slide-description {
    margin-left: auto;
}

.slide-button {
    margin-top: 1rem;
}