@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #0c0a09;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.work-gallery-link {
  width: 25%;
  height: 480px;
}

.work-gallery-link:hover .work-gallery-overlay {
  opacity: 1;
}

.work-gallery-thumbnail {
  height: 100%;
  object-fit: cover;
}

.work-gallery-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}